.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 30px;
    font-family: 'Nohemi';
}

.header-logo {
    &>img {
        width: 100px;
    }
}

.CTAs {
    display: flex;
    justify-content: space-between;
    width: 10rem
}